@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/site.js"></script>
<div class="text-center">
    <h1 class="display-4">HP Calculator</h1>
    <form method='post' action='/hp'>
        @Html.DropDownList("MyLevel", (IEnumerable<SelectListItem>)ViewData["MyList"], "Level")

        <input type='submit' value='Calculate Hp' />
    </form>
</div>